<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Afficher menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/classic">WebStore</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a routerLink="accueil">Accueil</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boutique <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Général</li>
							<li><a routerLink="produits">Tous les produits</a></li>
							<li><a href="/produits?_limit=3">Par 3</a></li>
							<li role="separator" class="divider" *ngIf="categories"></li>
							<li class="dropdown-header" *ngIf="categories">Catégories</li>
							<li><a routerLink="/categories/{{c.id}}" *ngFor="let c of categories">{{c.name}}</a></li>
						</ul>
					</li>
					<li><a href="contact">Contact</a></li>
					<li><a href="a-propos">A propos</a></li>
					<li><a href="aide">Aide</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<h1 class="alert alert-info">{{title}}</h1>
<app-spinner *ngIf="!categories" title="Démarrage" text="Démarrage de l'application en cours..."></app-spinner>

<div class="debug" id="main">


	<router-outlet></router-outlet>

</div>
