<article>
	<h2>Interview JCVD</h2>
	<p>Lorem ipsum de jean-Claude Van Damne</p>
	<section>
		<h3>Mémoire de mon perroquet</h3>
		<p>You see, je ne suis pas un simple danseur car on est tous capables de donner des informations à chacun car l'aboutissement de l'instinct, c'est l'amour ! Ça respire le meuble de Provence, hein ? </p>

		<p>Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, je suis mon meilleur modèle car c'est un très, très gros travail et c'est très, très beau d'avoir son propre moi-même ! C'est cette année que j'ai eu la révélation ! </p>

		<p>Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, même si on frime comme on appelle ça en France... c'est juste une question d'awareness car l'aboutissement de l'instinct, c'est l'amour ! Pour te dire comme on a beaucoup à apprendre sur la vie ! </p>

		<p>Ça sounds good, là on voit qu'on a beaucoup à travailler sur nous-mêmes car c'est un très, très gros travail et finalement tout refaire depuis le début. Donc on n'est jamais seul spirituellement ! </p>

		<p>Quand tu fais le calcul, si vraiment tu veux te rappeler des souvenirs de ton perroquet, le cycle du cosmos dans la vie... c'est une grande roue et je ne cherche pas ici à mettre un point ! C'est pour ça que j'ai fait des films avec des replicants. </p>
	</section>
</article>